Repository Miralys-Project/Miralys-Tournament, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Miralys-Project, @Tristan-GPT, @etoile2feu

fix: fix husky & update dependencies
  .husky/commit-msg
  .husky/pre-commit
  README.md
  apps/desktop/package.json
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Owners: @etoile2feu, @Miralys-Project

fix: update typescript & add gitkeeps
  apps/desktop/package.json
  apps/mobile/package.json
  packages/shared/.gitkeep
  packages/ui/.gitkeep
  pnpm-lock.yaml
Owners: @Miralys-Project, @etoile2feu

chore: add Cargo patch for glib
  apps/desktop/src-tauri/Cargo.toml
Owners: @Miralys-Project

fix: add Rust on dependabot
  .github/dependabot.yml
Owners: @etoile2feu

chore(Starting): finish configuration files
  .commitlintrc.json
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .github/SECURITY.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  .stylelintrc
  .vscode/extensions.json
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/shared/.gitkeep
  packages/shared/package.json
  packages/ui/.gitkeep
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  vitest.config.ts
Owners: @etoile2feu, @Miralys-Project

workflow(CI): fix CI workflow
  .github/workflows/ci.yml
Owners: @etoile2feu

fix(CI): fix ESLint
  .eslintrc.json
  eslint.config.js
Owners: @etoile2feu

fix(CI): fix ESLint again
  eslint.config.cjs
Owners: @etoile2feu

fix(ESLint): remove root
  eslint.config.cjs
Owners: @etoile2feu

fix(CI): fix ESLint again
  eslint.config.cjs
Owners: @etoile2feu

fix(ESLint): fix ESLint
  eslint.config.cjs
Owners: @etoile2feu

fix: fix ESLint with a better config
  eslint.config.cjs
  package.json
  pnpm-lock.yaml
Owners: @etoile2feu

fix: fix ESLint
  eslint.config.cjs
  eslint.config.js
Owners: @etoile2feu

fix: fix Vitest config
  vitest.config.ts
Owners: @etoile2feu

fix: fix test command
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  packages/shared/package.json
  packages/ui/package.json
Owners: @Miralys-Project

fix: fix Vitest
  package.json
  pnpm-lock.yaml
Owners: @etoile2feu

chore: fix globals eslint
  eslint.config.js
  package.json
  pnpm-lock.yaml
Owners: @etoile2feu

fix: fix globals
  eslint.config.js
Owners: @etoile2feu

chore: fix CI
  .github/workflows/ci.yml
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
  package.json
Owners: @etoile2feu, @Miralys-Project

fix: fix web app
  apps/web/index.html
Owners: @Miralys-Project

chore: fix renovatebot
  .github/renovate.json
Owners: @etoile2feu

fix: fix package.json
  package.json
Owners: @etoile2feu

fix(Storybook): fix Vitest for Storybook
  package.json
  packages/ui/package.json
  packages/ui/stories/Button.stories.ts
  pnpm-lock.yaml
  vitest.config.ts
Owners: @etoile2feu, @Miralys-Project

chore: fix SCSS migration
  packages/ui/stories/header.css
  packages/ui/stories/header.scss
  packages/ui/stories/page.css
  packages/ui/stories/page.scss
Owners: @Miralys-Project

fix: exclude Storybook from Vitest
  vitest.config.ts
Owners: @etoile2feu

chore: remove test command from storybook
  packages/ui/package.json
Owners: @Miralys-Project

fix: fix vite config, add \n for cancel CI error
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
Owners: @Miralys-Project

fix(Turbo): remove UI from tests
  turbo.json
Owners: @etoile2feu

chore: fix Vitest
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/vitest.shims.d.ts
  vitest.config.ts
Owners: @Miralys-Project, @etoile2feu

fix: fix again Vite config
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
Owners: @Miralys-Project

fix: fix imports
  apps/desktop/src/App.tsx
  packages/ui/stories/Header.tsx
  packages/ui/stories/Page.tsx
Owners: @Miralys-Project

chore: fix dependencies
  .gitignore
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @etoile2feu, @Miralys-Project

docs(README): fix README.md
  README.md
  turbo.json
Owners: @etoile2feu

docs(Security): fix security.md
  .github/SECURITY.md
Owners: @etoile2feu

feat(Database): set up PostgreSQL w/Prisma
  .vscode/extensions.json
  README.md
  apps/server/.env.example
  apps/server/.gitignore
  apps/server/package.json
  apps/server/prisma/schema.prisma
  apps/server/src/index.ts
  pnpm-lock.yaml
Owners: @etoile2feu, @Miralys-Project

docs: fix README.md
  README.md
Owners: @etoile2feu

chore: migrate Prisma to a package
  apps/server/.env.example
  packages/prisma-client/.gitignore
  packages/prisma-client/dist/index.js
  packages/prisma-client/package.json
  packages/prisma-client/prisma/schema.prisma
  packages/prisma-client/src/index.ts
  packages/prisma-client/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @Miralys-Project, @etoile2feu

docs: add env example & fix README
  README.md
  packages/prisma-client/.env.example
Owners: @etoile2feu

workflow(CI): fix CI for Prisma
  .github/workflows/ci.yml
Owners: @etoile2feu

chore: fix for CI
  apps/server/package.json
  packages/prisma-client/package.json
Owners: @Miralys-Project, @etoile2feu

.github/CODEOWNERS:

* @Miralys-Project
* @Tristan-GPT
* @etoile2feu

/apps/web/ @Miralys-Project
/apps/server/ @Miralys-Project
/apps/desktop/ @Miralys-Project
/apps/mobile/ @Miralys-Project
/packages/shared/ @Miralys-Project
/packages/ui/ @Miralys-Project
