Repository Miralys-Project/Miralys-Tournament, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript-typescript, python, rust, csharp, kotlin, documentation

fix: fix husky & update dependencies
  .husky/commit-msg
  .husky/pre-commit
  README.md
  apps/desktop/package.json
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Labels: documentation

fix: update typescript & add gitkeeps
  apps/desktop/package.json
  apps/mobile/package.json
  packages/shared/.gitkeep
  packages/ui/.gitkeep
  pnpm-lock.yaml
Labels: none

chore: add Cargo patch for glib
  apps/desktop/src-tauri/Cargo.toml
Labels: none

fix: add Rust on dependabot
  .github/dependabot.yml
Labels: none

chore(Starting): finish configuration files
  .commitlintrc.json
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .github/SECURITY.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  .stylelintrc
  .vscode/extensions.json
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/shared/.gitkeep
  packages/shared/package.json
  packages/ui/.gitkeep
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  vitest.config.ts
Labels: javascript-typescript, documentation

workflow(CI): fix CI workflow
  .github/workflows/ci.yml
Labels: none

fix(CI): fix ESLint
  .eslintrc.json
  eslint.config.js
Labels: javascript-typescript

fix(CI): fix ESLint again
  eslint.config.cjs
Labels: none

fix(ESLint): remove root
  eslint.config.cjs
Labels: none

fix(CI): fix ESLint again
  eslint.config.cjs
Labels: none

fix(ESLint): fix ESLint
  eslint.config.cjs
Labels: none

fix: fix ESLint with a better config
  eslint.config.cjs
  package.json
  pnpm-lock.yaml
Labels: none

fix: fix ESLint
  eslint.config.cjs
  eslint.config.js
Labels: javascript-typescript

fix: fix Vitest config
  vitest.config.ts
Labels: javascript-typescript

fix: fix test command
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  packages/shared/package.json
  packages/ui/package.json
Labels: none

fix: fix Vitest
  package.json
  pnpm-lock.yaml
Labels: none

chore: fix globals eslint
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: javascript-typescript

fix: fix globals
  eslint.config.js
Labels: javascript-typescript

chore: fix CI
  .github/workflows/ci.yml
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
  package.json
Labels: javascript-typescript

fix: fix web app
  apps/web/index.html
Labels: none

chore: fix renovatebot
  .github/renovate.json
Labels: none

fix: fix package.json
  package.json
Labels: none

fix(Storybook): fix Vitest for Storybook
  package.json
  packages/ui/package.json
  packages/ui/stories/Button.stories.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: javascript-typescript

chore: fix SCSS migration
  packages/ui/stories/header.css
  packages/ui/stories/header.scss
  packages/ui/stories/page.css
  packages/ui/stories/page.scss
Labels: none

fix: exclude Storybook from Vitest
  vitest.config.ts
Labels: javascript-typescript

chore: remove test command from storybook
  packages/ui/package.json
Labels: none

fix: fix vite config, add \n for cancel CI error
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
Labels: javascript-typescript

fix(Turbo): remove UI from tests
  turbo.json
Labels: none

chore: fix Vitest
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/vitest.shims.d.ts
  vitest.config.ts
Labels: javascript-typescript

fix: fix again Vite config
  apps/desktop/vite.config.ts
  apps/web/vite.config.ts
Labels: javascript-typescript

fix: fix imports
  apps/desktop/src/App.tsx
  packages/ui/stories/Header.tsx
  packages/ui/stories/Page.tsx
Labels: none

chore: fix dependencies
  .gitignore
  apps/desktop/package.json
  apps/mobile/package.json
  apps/server/package.json
  apps/web/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(README): fix README.md
  README.md
  turbo.json
Labels: documentation

docs(Security): fix security.md
  .github/SECURITY.md
Labels: documentation

feat(Database): set up PostgreSQL w/Prisma
  .vscode/extensions.json
  README.md
  apps/server/.env.example
  apps/server/.gitignore
  apps/server/package.json
  apps/server/prisma/schema.prisma
  apps/server/src/index.ts
  pnpm-lock.yaml
Labels: javascript-typescript, documentation

docs: fix README.md
  README.md
Labels: documentation

chore: migrate Prisma to a package
  apps/server/.env.example
  packages/prisma-client/.gitignore
  packages/prisma-client/dist/index.js
  packages/prisma-client/package.json
  packages/prisma-client/prisma/schema.prisma
  packages/prisma-client/src/index.ts
  packages/prisma-client/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: javascript-typescript

docs: add env example & fix README
  README.md
  packages/prisma-client/.env.example
Labels: documentation

workflow(CI): fix CI for Prisma
  .github/workflows/ci.yml
Labels: none

chore: fix for CI
  apps/server/package.json
  packages/prisma-client/package.json
Labels: none

.github/labeler.yml:

javascript-typescript:
  - '**/*.ts'
  - '**/*.js'

python:
  - '**/*.py'

rust:
  - '**/*.rs'

csharp:
  - '**/*.cs'

kotlin:
  - '**/*.kts'

documentation:
  - '**/*.md'
